__pycache__/
*/__pycache__/*
musicbud/__pycache__/
chat/__pycache__/
*.log
neo4j
# venv/
# env/
ai/spotify_dataset.csv
ai/.bash_profile
myenv/

ai/user_dict_reversed.pkl
ai/user_dict.pkl
ai/item_dict_track_reversed.pkl
ai/item_dict_track.pkl
ai/item_dict_artist_reversed.pkl
ai/item_dict_artist.pkl
