{% extends 'base.html' %}

{% block content %}
<h2>Chat Room: {{ room_name }}</h2>
<div id="chat-log"></div>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">

{{ room_name|json_script:"room-name" }}
{{ username|json_script:"user-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const userUsername = JSON.parse(document.getElementById('user-username').textContent);

    const chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + encodeURIComponent(roomName) + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').innerHTML += (data.username + ': ' + data.message + '<br>');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userUsername
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock %}
