{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Chat with {{ other_user.username }}</h2>
<div id="chat-messages"></div>
<input type="text" id="chat-message-input" size="100">
<input type="button" id="chat-message-submit" value="Send">

{{ request.user.username|json_script:"user-username" }}
{{ other_user.username|json_script:"other-username" }}

<script>
    const userUsername = JSON.parse(document.getElementById('user-username').textContent);
    const otherUsername = JSON.parse(document.getElementById('other-username').textContent);

    const chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/user/' + userUsername + '/' + otherUsername + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-messages').innerHTML += (data.username + ': ' + data.message + '<br>');
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock %}
